.home{
    height: 800px;
    background-color: darkcyan;
    /*background-image: url("./");*/
}

.titulo{
    text-align: center;
    font-size: 40px;
    padding-top: 2rem;
}

.foto{
    height: 120%;
}

.borda{
    border: 3px solid whitesmoke;
    border-radius: 10px 50px;
}